@use '../../../styles/mixins' as *;

.nav {
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;

  opacity: 0;
  transform: translateY(1.5em);
  transition: opacity .3s ease, transform .3s ease;

  &__open {
    opacity: 1;
    transform: translateY(0);
    // wait for the venetian blinds to mostly finish, see VenetianBlinds/index.tsx
    transition-delay: .45s;
  }
}

.ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.li {
  display: inline;
  text-decoration: none;
}

.link {
  border-radius: 1px;
  opacity: .5;
  transition: opacity .2s;

  font-size: 1.4em;

  &:not(&[aria-current=page]):hover {
    opacity: .7;
  }

  &[aria-current=page] {
    opacity: 1;
  }
}

@include breakpoint-min(md) {
  .nav {
    position: static;
    opacity: 1;
    transform: none;
    transition: none;
  }
  .ul {
    flex-direction: row;
    height: auto;
    gap: 1em;
  }
  .link {
    font-size: 1em;
  }
}