@use '../../../styles/mixins' as *;

.container {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  pointer-events: none;
}

.overlay {
  z-index: 1;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, .6);
  opacity: 0;
}

.blind {
  z-index: 2;
  flex: 1 1 0;
  background-color: var(--color-surface);
  transform-origin: center;
}

@include breakpoint-min(md) {
  .container {
    display: none;
  }
}
