@use '../../../styles/variables' as *;

$column-gap: 64px;
$padding-x: calc(var(--padding-left) + var(--padding-right));
$column-width: calc((100% - #{$padding-x} - #{$column-gap}) / 2);


.title {
  font-family: var(--font-playfair-display), serif;
  font-size: 3em;
  line-height: 1em;
  color: var(--color-primary);
  // optical alignment of the edge of the letter & the median
  transform: translate(-.07em, -0.32em);
}

@media (min-width: $breakpoint-lg) {
  .title {
    position: fixed;
    width: $column-width;
  }
}

@media (min-width: $breakpoint-xxl) {
  .title {
    font-size: 4em;
  }
}