@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

$column-gap: 64px;
$padding-x: calc(var(--padding-left) + var(--padding-right));
$column-width: calc((100% - #{$padding-x} - #{$column-gap}) / 2);

.page {
  @include inner-padding;
  @include max-width;
}

.main {
  display: flex;
  flex-direction: column;
  gap: $column-gap;
}

@include breakpoint-min(lg) {
  .page {
    max-width: unset;
  }
  .main {
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
  }
  .column {
    position: relative;
    flex: 1 1 $column-width;
    width: $column-width;
  }
}