@use './variables' as *;

@mixin breakpoint-min($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin outer-padding {
  padding:
    var(--padding-top)
    var(--padding-right)
    var(--padding-bottom)
    var(--padding-left);
}

@mixin inner-padding {
  padding:
    var(--padding-inner-top)
    var(--padding-right)
    var(--padding-inner-bottom)
    var(--padding-left);
}

@mixin max-width {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}