@use './variables' as *;

@mixin breakpoint-min($breakpoint) {
  @media (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin fixed-section {
  position: fixed;
  left: 0;
  padding:
    var(--padding-outer-vertical)
    calc(env(safe-area-inset-right, 0px) + var(--padding-outer-horizontal))
    var(--padding-outer-vertical)
    calc(env(safe-area-inset-left, 0px) + var(--padding-outer-horizontal));
}